<!-- https://stackoverflow.com/questions/18586921/how-to-launch-html-using-chrome-at-allow-file-access-from-files-mode -->
<!DOCTYPE html>
<meta charset="utf-8">
<style>

.links line {
  stroke: rgb(15, 15, 15);
  /* stroke-opacity: 0.6; */
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* text {
  font-family: sans-serif;
  font-size: 10px;
} */

</style>
<svg width="2000" height="1000">
</svg>


<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="viewgraph/node-pie.js"></script> -->
{% load static %}
<script src="{% static "viewgraph/js/node-pie.js" %}"></script>
<script>

const textAlignment_x = 50;
var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var svgText = svg.append("text");
svgText
  .attr("x",textAlignment_x)
  .attr("y",50)
  .attr("font-family", "Georgia");

const defaultText = "Hover over node to view text"
svgText.text(defaultText);

const defaultDescription = ""
var svgDescription = svg.append("text");
svgDescription
  .attr("x",textAlignment_x)
  .attr("y",70)
  .attr("font-family", "Georgia")
  .attr("font-size", "13px")
  .attr("font-style", "italic");
svgDescription.text(defaultDescription)




var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(120))
    .force("charge", d3.forceManyBody().strength(-500).distanceMax(height/2))
    .force("center", d3.forceCenter(width / 2, height / 2))
    .velocityDecay(0.9)
    .alphaTarget(0.5)
    ;

var graph = JSON.parse("{{data|escapejs}}"); 

const colorMapping = {
    
    "horror/mystery" : "#64503f",
    "drama" : "#b19cd9", 
    "romance" : "#ff9fb6",
    "action/adventure/thriller" : "#ff4c42", 
    "musical" : "#ffb347", 
    "comedy" : "#8be28b", 
    "family" : "#009999", 
    "sciencefiction/fantasy" : "#1240AB",  
    "animation" : "#7ea4b3", 
    "biography/documentary" : "#adad9a", 
}

// add legend for colour mapping

// add legend title
const legendStart_y = 500;
// var svgLegend = svg.append("text");
// svgLegend
//   .attr("x",textAlignment_x)
//   .attr("y",legendStart_y)
//   .attr("font-family", "Georgia")
//   svgLegend.text("Legend!!!!")

// add dots
const betweenLegendElements_y = 20;
svg.selectAll("mydots")
  .data(Object.keys(colorMapping))
  .enter()
  .append("circle")
    .attr("cx", textAlignment_x)
    .attr("cy", function(d,i){ return legendStart_y + 25 + i*betweenLegendElements_y}) // 100 is where the first dot appears. 25 is the distance between dots
    .attr("r", 7)
    .style("fill", function(d,i){return colorMapping[d]})

// add labels
svg.selectAll("mylabels")
  .data(Object.keys(colorMapping))
  .enter()
  .append("text")
    .attr("x", textAlignment_x + 20)
    .attr("y", function(d,i){ return legendStart_y +30 + i*betweenLegendElements_y}) // 100 is where the first dot appears. 25 is the distance between dots
    .style("fill", function(d,i){return colorMapping[d]})
    .text(function(d){ return d})
    .attr("text-anchor", "left")
    .attr("font-family", "Georgia")
    .style("alignment-baseline", "mddle");

const defaultStrokeWidth = 2;
const defaultSrokeColor = '#b8b8b8';

var link = svg.append("g")
  .attr("class", "links")
  .selectAll("line")
  .data(graph.links)
  .enter().append("line")
  .style('stroke', defaultSrokeColor)
  .attr("stroke-width", function(d) { return defaultStrokeWidth; })
  .attr("stroke-opacity", function(d) { return d.value; });

// add background glow
var defs = svg.append("defs");

var filter = defs.append("filter")
.attr("id","glow");

filter.append("feMorphology")
  .attr("operator", "dilate")
  .attr("radius", "4")
  .attr("in", "SourceGraphic")
  .attr("result", "thicken");

filter.append("feGaussianBlur")
  .attr("in", "thicken")
  .attr("class", "blur")
  .attr("stdDeviation","20")
  .attr("result","coloredBlur");
  

filter.append("feFlood").attr("flood-color", "rgb(255, 255, 0)")
.attr("result", "glowColor");

filter.append("feComposite").attr("in", "glowColor")
  .attr("in2", "coloredBlur")
  .attr("operator", "in")
  .attr("result", "softGlow_colored")

// filter.append("feGaussianBlur").attr("in", "thicken")
// .attr("result", "blurred");

var feMerge = filter.append("feMerge");
feMerge.append("feMergeNode")
  .attr("in","softGlow_colored");
feMerge.append("feMergeNode")
  .attr("in","SourceGraphic");

var node = svg.append("g")
  .attr("class", "nodes")
  .selectAll("g")
  .data(graph.nodes)
  .enter().append("g");


// node.style("filter","url(#glow)");
node.on('mouseover', function (d, i) {
        d3.select(this).transition()
              .duration('50')
              .attr('opacity', '.50');
        
        link
          .style('stroke', function (link_d) { 
            return link_d.source_idx === d.idx || link_d.target_idx === d.idx ? '#FFF373' : defaultSrokeColor;})
          .style('stroke-width', function (link_d) { 
            return link_d.source_idx === d.idx || link_d.target_idx === d.idx ? 4 : defaultStrokeWidth;})

        let related_idx = [];
        graph.links.forEach(function(item, index){
            if (item.source_idx === d.idx || item.target_idx == d.idx){
              related_idx.push(item.source_idx === d.idx ? item.target_idx : item.source_idx)
            };
        })

        // make linked nodes have a glow 
        node
            .style('filter', function(node_d){
              return related_idx.includes(node_d.idx) ? "url(#glow)" : "none" 
        })
            
        svgText.text(d.id);
        svgDescription.text(d.description);

    })
    .on('mouseout', function (d, i) {
      
        d3.select(this).transition()
              .duration('50')
              .attr('opacity', '1');

        link
          .style('stroke', 'b8b8b8')
          .style('stroke-width', '2')
          .attr("stroke-opacity", function(d) { return d.value; });
        
        node.style('filter','none');

        //d3.select('#tools').remove();
        svgText.text(defaultText);
        svgDescription.text(defaultDescription);
    })
  .call(d3.drag()
      .on("start", dragstarted)
      .on("drag", dragged)
      .on("end", dragended));


var color = d3.scaleOrdinal(d3.schemeCategory10);

// const data = [
//         { "color": 1, "percent": 40 },
//         { "color": 2, "percent": 20 },
//         { "color": 3, "percent": 20 },
//         { "color": 4, "percent": 20 }
//             ]


function createPieData(d){
    let pieData = [];
    for (let i = 0; i < d.genre.length; i++){
        var pieDict = {};
        pieDict['color'] = colorMapping[d.genre[i]]
        pieDict['percent'] = 100 / d.genre.length;
        pieData.push(pieDict);
    }
    // console.log(pieData)

    return pieData;
};

/* Draw the respective pie chart for each node */
node.each(function (d) {
          NodePieBuilder.drawNodePie(d3.select(this),
          createPieData(d), 
          {
              parentNodeColor: color(1),
              outerStrokeWidth: 12,
              labelColor: color(1)
          });
      });




var labels = node.append("text")
    .text(function(d) {
      return d.id;
    })
    .attr('idx', function(d){return d.idx;})
    .attr('x', 6)
    .attr('y', 3)
    .attr('font-family', 'sans-serif')
    .attr('font-size', '10px');

node.append("title")
    .text(function(d) { return d.id; });

simulation
    .nodes(graph.nodes)
    .on("tick", ticked);

simulation.force("link")
  .links(graph.links);
    
function ticked() {
  link
      .attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node
      .attr("transform", function(d) {
        return "translate(" + d.x + "," + d.y + ")";
      })
};
// });

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

</script>

<!-- selected = d3.selectAll('.nodes').selectAll('g').filter((d, i) => d.idx ==1) -->